 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Sydney is a New Yorker. Upstate, downstate, east, west, all New York. She’s good at the cold, terrible at the heat, knows how to drive in vengeful traffic and ridiculous snow, has no idea what a Waffle House is, causes scenes when Montell Jordan comes on the stereo, brings home stray cats, keeps a lot of secrets, wins every game (because she refuses to play any she loses), will buy any farmer’s market pastry if it’s attracted a swarm of bees, fills up her time so she doesn’t have to deal with real life, practices the philosophy of “It’s nice to be nice,” and tries hard, very, very hard, to make it in this world.</p>
                    <p>In 2017, Sydney won the Kathryn Gurfein Writing Fellowship from the Writing Institute at Sarah Lawrence College and spent the year writing her debut young adult thriller, <em>Stranger Danger</em>, which she is currently shopping around.</p>
                 <p>Sydney was born in an old house in a little town in the Catskill Mountains of New York. She earned her bachelor’s degree in writing from Plattsburgh State University and her master’s of science in publishing from Pace University. She got her dream job working in publishing in 2008, and currently works as the content development director at the American Booksellers Association. She divides her time between New York City and Hudson, New York.</p>
                </div>
            </div>
        </div>
    </section>
