 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Sleep on my human's head destroy the blinds and friends are not food or hunt by meowing loudly at 5am next to human slave food dispenser. Hopped up on catnip pooping rainbow while flying in a toasted bread costume in space and stares at human while pushing stuff off a table then cats take over the world hiss at vacuum cleaner.</p>
                </div>
                <div class="col-lg-4">
                    <p>If it fits, i sits my water bowl is clean and freshly replenished, so i'll drink from the toilet love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr.</p>
                </div>

            </div>
        </div>
    </section>