    <section class="" id="editing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Editing</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Sydney specializes in inclusive language editing and has worked for publishers big and small. In 2021, Sydney won the Richard S. Holden Diversity Fellowship from ACES: The Society for Editing.</p>
                </div>
            </div>
        </div>
    </section>
