
    <!-- FAQ Section -->
    <section class="success" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>FAQ</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="faq faq-top">
                        <p class="faqq">Are you from Australia?</p>
                        <p class="faqa">No. Please stop asking. Why does everyone keep asking that?</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What are you reading right now?</p>
                        <p class="faqa">At the moment, I’m reading <em>Educated</em> by Tara Westover and <em>Children of Blood and Bone</em> by Tomi Adeyemi, but because I can’t read and write at the same time it’s taking FOREVER.</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What’s your favorite line from a book?</p>
                        <p class="faqa">“Sorrow is like the ocean and sometimes I wish my heart would stop.” -Will Christopher Baer, <em>Kiss Me, Judas</em></p>
                    </div>
                    <div class="faq">
                        <p class="faqq">If you could only read one book over and over again, what would it be?</p>
                        <p class="faqa">If it always felt like I was reading it for the first time, I’d have to go with <em>A Wrinkle in Time</em> by Madeleine L’Engle (not to be clich&eacute;). If it was because I was stuck on a deserted island and had nothing else to read for all eternity, I’d go for something complex that required a lot of thought, like Proust or Dostoyevsky or Marquez. OR a Where’s Waldo book. Gotta have something to do, right?</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">When did you know you wanted to be a writer?</p>
                        <p class="faqa">When I was in second grade and Mrs. Brown made us write a book, and mine was about getting motion sick and vomiting out the window while on the way to Mars. That’s when.</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">Where do you get your inspiration?</p>
                        <p class="faqa">Simple: everywhere. Something I see, something I read, something someone says. (That’s what spawned my next book. Gen, as we’re stacking hundreds of books for a work event: “You were really never a bookseller?” Me: “Nope, I was a hotel maid.” Gen: “Oh, that’s a book.” Me: “Oh. Oh, hell yeah.”)</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What’s your low-key superpower?</p>
                        <p class="faqa">Knowing exactly when something is done baking. (I credit my cavities. It’s like channeling radio waves.)</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What were you like in high school?</p>
                        <p class="faqa">A little dark, a little spooky, a little sad, but mostly just like I am today. Always charming!</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What’s your favorite thing?</p>
                        <p class="faqa">Cheese? Sweets? Cheese? Sweets? Don’t make me choose. Ok, sweets. Really delicious, decadent sweets. Ones that have passion fruit fillings or super shiny glazes or shaved chocolate or candied walnuts or torched meringue or sparkly sugar… you get the drift.</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What do you wish for?</p>
                        <p class="faqa">A time machine (so I can go to CBGBs), unlimited cake (NOT chocolate with vanilla frosting, though), and a basket of kittens (just two). That’s normal, right?</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What’s your favorite band?</p>
                        <p class="faqa"><a href="http://www.raffinews.com/" target="_blank">Raffi</a> (1984-1990)<br /><a href="https://www.nkotb.com/" target="_blank">New Kids on the Block</a> (1991-1991)<br /><a href="http://phish.com/" target="_blank">Phish</a> (1992-1996)<br /><a href="https://www.facebook.com/montellmusic/" target="_blank">Montell Jordan</a> (1996-1997)<br /><a href="http://www.suicidaltendencies.eu/" target="_blank">Suicidal Tendencies</a> (1997-1998)<br /><a href="https://www.toolband.com/" target="_blank">Tool</a> (1998-eternity)</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">If you could be any animal, what would you be?</p>
                        <p class="faqa">Let’s see. Fear of the ocean. Fear of heights. Fear of bears. Fear of spiders. Indoor cat, please and thank you.</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">What are your favorite podcasts?</p>
                        <p class="faqa">Right now, it’s <a href="https://www.myfavoritemurder.com/" target="_blank">My Favorite Murder</a>, <a href="https://www.earhustlesq.com/" target="_blank">Ear Hustle</a>, <a href="http://www.thisiscriminal.com/" target="_blank">Criminal</a>, <a href="http://www.sporkful.com/" target="_blank">The Sporkful</a>, <a href="http://www.thetruthpodcast.com/" target="_blank">The Truth</a>, <a href="https://99percentinvisible.org/" target="_blank">99% Invisible</a>, I could keep going and going and going.</p>
                    </div>
                    <div class="faq faq-bottom">
                        <p class="faqq">What’s with you and murder?</p>
                        <p class="faqa">There’s no good way to answer this one, is there?</p>
                    </div>                                        
                </div>
            </div>
        </div>
    </section>
