
    <!-- Portfolio Grid Section -->
    <section class="success" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>FAQ</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="faq">
                        <p class="faqq">Are you from Australia</p>
                        <p class="faqa">NO.</p>
                    </div>
                    <div class="faq">
                        <p class="faqq">Are you from Australia</p>
                        <p class="faqa">NO.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>