    <section class="writing" id="writing">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Writing</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Sydney cleans instead of writes, bakes instead of writes, and takes naps instead of writes. In 2017, Sydney won the Kathryn Gurfein Writing Fellowship from Sarah Lawrence College. In 2022, Sydney was an artist-in-residence at Wildacres Retreat and a semifinalist for the James Jones First Novel Fellowship. In between the cleaning, baking, and napping, she actually does write (and write and write). </p>
                </div>
            </div>
        </div>
    </section>
